@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
  --mainBlue: #40acf1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #ffffff;
  --mainBlack: #292f36;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #e3b505;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* preloader */

.preloader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--mainWhite);
  z-index: 999 !important;
}

.hidePreloader{
  display: none !important;
}

/* sectiom title */

.section-title-spacial{
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: .5rem 2rem;
  clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
}

/* navbar */

.nav {
  background: var(--mainWhite);
}
.navbar-main {
  height: 50px;
}

.navbar-brand img {
  width: 40px;
}

.navbar-icon {
  font-size: 2rem;
  color: var(--mainBlue);
}

.navbar-toggler {
  outline-color: var(--mainBlue) !important;
}

.nav-link {
  font-size: 1rem;
  color: var(--mainBlack);
  text-transform: capitalize;
}

.nav-link:hover {
  color: var(--mainBlue);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.nav-icon {
  font-size: 1.25rem;
  color: var(--mainBlue);
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.nav-icon:hover {
  color: var(--mainBlack);
}

/* header */

.header {
  color: var(--mainWhite);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  overflow: hidden;
}

.height-max {
  min-height: calc(100vh - 50px);
  background: url(../img/headerBcg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  50% {
    transform: scale(1.2) translateX(-5%);
    -webkit-transform: scale(1.2) translateX(-5%);
    -moz-transform: scale(1.2) translateX(-5%);
    -ms-transform: scale(1.2) translateX(-5%);
    -o-transform: scale(1.2) translateX(-5%);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.title-heading {
  background: rgba(0, 0, 0, 0.3);
  border-left: 0.2rem solid var(--mainBlue);
}

.title {
  padding-left: 2px;
  font-weight: 700;
  font-size: 1.9rem;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.64rem;
  }
}

.title-icon {
  color: var(--mainBlue);
  text-decoration: none;
}

.title-icon:hover {
  color: var(--mainBlue);
  opacity: 0.6;
}

/* skill section */

.skills-icon{
  font-size: 3rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.skills-icon:hover{
  /*color: var(--mainYellow);*/
}

.skills-underline{
  width: 4rem;
  height: .3rem;
  background: var(--mainBlue);
  margin: 1rem auto;
}